# Finance Data Project 

In this data project we will focus on exploratory data analysis i.e. **EDA of stock prices**. Keep in mind, this project is just meant to practice visualization and pandas skills, it is not meant to be a robust financial analysis or be taken as financial advice.

We'll focus on bank stocks and see how they progressed throughout the [financial crisis](https://en.wikipedia.org/wiki/Financial_crisis_of_2007%E2%80%9308) all the way to early 2024.

## Get the Data
- read data from Yahoo finance using pandas!

- pip command to install yahoo finance:
    - pip install yfinance

In [7]:
import yfinance as yf
import pandas as pd
import numpy as np
import time
import datetime
%matplotlib inline

## Data

We need to get data using pandas datareader. We will get stock information for the following banks:
*  Bank of America
* CitiGroup
* Goldman Sachs
* JPMorgan Chase
* Morgan Stanley
* Wells Fargo

**Get the stock data from Jan 1st 2006 to Jan 1st 2024 for each of these banks. Set each bank to be a separate dataframe, with the variable name for that bank being its ticker symbol. This will involve a few steps:**
1. Use datetime to set start and end datetime objects.
2. Figure out the ticker symbol for each bank.
2. Grab info on the stock.

**Use yahoo finance as a source, for example:**
    
    # Bank of America
    BAC = yf.download(ticker, start, end)

### Ticker Symbol:
A "ticker" or "ticker symbol" is a unique series of letters assigned to a security or stock for trading purposes. Ticker symbols are used to identify and trade securities on stock exchanges. For example, "GE" is the ticker symbol for General Electric.

In [39]:
# start = 01 Jan 2006
start = datetime.datetime(2006, 1, 1)
# end = 01 Jan 2024
end = datetime.datetime(2024,1,1)

print(start)
print(end)

2006-01-01 00:00:00
2024-01-01 00:00:00

In [24]:
# Define the ticker symbol for General Electric
ticker = 'GE'

# Get historical stock data from Yahoo Finance for the specified date range
GE = yf.download(ticker, start=start, end=end)

# Display the dataframe
GE

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2006-01-03,168.214554,169.652283,166.776825,169.508514,93.532646,6932005
2006-01-04,169.412659,169.652283,168.214554,169.268890,93.400421,5011458
2006-01-05,169.029266,169.412659,168.214554,168.837570,93.162437,3934887
2006-01-06,169.556442,170.275299,168.645874,169.987747,93.797096,4608094
2006-01-09,169.652283,169.796051,168.885498,169.556442,93.559097,4322644
...,...,...,...,...,...,...
2023-12-22,101.667999,102.178772,100.702316,101.109337,100.850426,4030650
2023-12-26,101.197128,101.923386,101.069435,101.731842,101.471336,2480063
2023-12-27,101.276932,102.482040,101.237030,102.314445,102.132759,3314310
2023-12-28,102.154831,103.112534,102.003189,102.410217,102.228363,3965494
2023-12-29,102.346367,102.537910,101.324821,101.859535,101.678658,4441133

In [21]:
GE.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4529 entries, 2006-01-03 to 2023-12-29
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       4529 non-null   float64
 1   High       4529 non-null   float64
 2   Low        4529 non-null   float64
 3   Close      4529 non-null   float64
 4   Adj Close  4529 non-null   float64
 5   Volume     4529 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 247.7 KB

In [28]:
start_time = time.time()

# Bank of America
BAC = yf.download(tickers='BAC', start=start, end=end)
# CitiGroup
C = yf.download(tickers='C', start=start, end=end)
# Goldman Sachs
GS = yf.download(tickers='GS', start=start, end=end)
# JPMorgan Chase
JPM = yf.download(tickers='JPM', start=start, end=end)
# Morgan Stanley
MS = yf.download(tickers='MS', start=start, end=end)
# Wells Fargo
WFC = yf.download(tickers='WFC', start=start, end=end)

end_time = time.time()
execution_time = end_time - start_time
print("Execution Time:", execution_time, "seconds")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Execution Time: 0.36725783348083496 seconds

In [40]:
start_time = time.time()

# State Bank of India
SBIN = yf.download(tickers='SBIN.NS', start=start, end=end)
# Kotak Mahindra Bank
KOTAKBANK = yf.download(tickers='KOTAKBANK.NS', start=start, end=end)
# Reliance Industries
RELIANCE = yf.download(tickers='RELIANCE.NS', start=start, end=end)
# Tata Consultancy Services (TCS)
TCS = yf.download(tickers='TCS.NS', start=start, end=end)
# Infosys
INFY = yf.download(tickers='INFY.NS', start=start, end=end)

end_time = time.time()
execution_time = end_time - start_time
print("Execution Time:", execution_time, "seconds")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Execution Time: 3.782825469970703 seconds

In [41]:
MS

                 Open       High        Low      Close  Adj Close   Volume
Date
2006-01-03  57.169998  58.490002  56.740002  58.310001  32.955105  5377000
2006-01-04  58.700001  59.279999  58.349998  58.349998  32.977715  7977800
2006-01-05  58.549999  58.590000  58.020000  58.509998  33.068130  5778000
2006-01-06  58.770000  58.849998  58.049999  58.570000  33.102051  6889800
2006-01-09  58.630001  59.290001  58.619999  59.189999  33.452454  4144500
...               ...        ...        ...        ...        ...      ...
2023-12-22  92.900002  93.660004  92.230003  92.410004  90.675598  5800800
2023-12-26  92.610001  93.019997  92.370003  92.839996  91.097519  2726200
2023-12-27  92.690002  93.690002  92.400002  93.660004  91.902130  4073200
2023-12-28  93.309998  93.949997  93.239998  93.639999  91.882507  4089500
2023-12-29  93.489998  93.769997  93.059998  93.250000  91.499817  4772100

[4529 rows x 6 columns]

** Create a list of the ticker symbols (as strings) in alphabetical order. Call this list: tickers**

** Use pd.concat to concatenate the bank dataframes together to a single data frame called bank_stocks. Set the keys argument equal to the tickers list. Also pay attention to what axis you concatenate on.**

** Set the column name levels (this is filled out for you):**

In [ ]:
bank_stocks.columns.names = ['Bank Ticker','Stock Info']

** Check the head of the bank_stocks dataframe.**

# EDA

Let's explore the data a bit! Before continuing, I encourage you to check out the documentation on [Multi-Level Indexing](http://pandas.pydata.org/pandas-docs/stable/advanced.html) and [Using .xs](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.xs.html).
Reference the solutions if you can not figure out how to use .xs(), since that will be a major part of this project.

** What is the max Close price for each bank's stock throughout the time period?**

** Create a new empty DataFrame called returns. This dataframe will contain the returns for each bank's stock. returns are typically defined by:**

$$r_t = \frac{p_t - p_{t-1}}{p_{t-1}} = \frac{p_t}{p_{t-1}} - 1$$

** We can use pandas pct_change() method on the Close column to create a column representing this return value. Create a for loop that goes and for each Bank Stock Ticker creates this returns column and set's it as a column in the returns DataFrame.**

** Create a pairplot using seaborn of the returns dataframe. What stock stands out to you? Can you figure out why?**